# Ignore database files
*.sqlite3

# Ignore system files
*.DS_Store

# Folders to ignore
**/__pycache__

Ignore Idea file
/.idea/*

Ignore Python Lib files
/backend/venv/*

Ignore any Node modules
**/node_modules