# Ignore database files
*.sqlite3
**data/

# Ignore system files
*.DS_Store

# Folders to ignore
**/__pycache__
**/migrations

# Ignore Idea file
/.idea/*

# Ignore Python Lib files
/backend/venv/*
venv/

# Ignore any Node modules
**/node_modules

# Ignore static files
**/build

# Ignore yarn.lock
**/yarn.lock
