.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login__bg-image {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-color: #F9F9F8;
}

.login__button-link {
  text-decoration: none;
  padding: 5px;
}

.login__button {
  width: 400px;
  height: 100px;
  padding: 10px;
}

/* Increase specificity to override component styles */
.MuiButton-root.login__button {
  background-color: transparent;
  border: 4px black solid;
  border-radius: 0;
  margin: 5px;
}

.login__button .MuiButton-label {
  font-size: 1.4em;
  color: black;
}

.buttons {
  padding-top: 20px;
}

p {
  text-align: center;
}

.center_link {
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
}


.newRequestButton{
    bottom: 30px;
}
