.home__button-link {
  text-decoration: none;
}
#logo{
  background-color: lightblue;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  display: block;
}
#logoContainer{
background-color: lightblue;
  width: 100%;
  height: 17%;
}
.MuiButton-root.login__button:hover {
  background-color: transparent;
  border: 4px darkslategrey solid;
  border-radius: 0;
}

.login__button .MuiButton-label {
  font-size: 1.5em;
  color: darkslategray;
}

.home__bg {
  background-size: cover;
  width: 100%;
  height: 100%;
  background-color: floralwhite;
}

.center_left {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.center_right {
  position: absolute;
  top: 50%;
  left: 60%;
  transform:translate(-50%, -50%);
}
.center {
  position: absolute;
  top:50%;
  left: 50%;
  transform:translate(-50%, -50%);
}
.login__button {
  width: 300px;
  height: 80px;
}