/**
* COLORS:
* #615187   dark            indigo
* #ED7369   dark accent     coral
* #689BF0   main            sky blue
* #AFA7D1   light accent    light purple
* #F3F5F3   light           very close to white
*
* #212121   dark grey / almost black
* #767676   medium grey
* #BDBDBD   light grey / almost white
**/

.number-stat-num {
    color: #689BF0;
    font-size: 6em;
    text-align: center;
    display: block;
}

.ramp-dimensions-image {
    margin-bottom: 1.33em;
}
