.navbar {
    width: 100%;
    height: 80px;
    background-color:  rgb(163, 30, 30);
    position: fixed;
    top: 0px;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.navTitle {
    font-size: large;
    color: white;
}

#logOutButton {
    width: 150px;
    height: 50px;
    background-color: floralwhite;
    display: block;
    margin-top: 2%;
}